@import "tailwindcss";

:root {
    --radius: 10px;
    --border: 1px solid rgba(255, 255, 255, .2);
    --bg: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.05) 100%);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
}

a {
    color: #0487f4;
}

a:hover {
    text-decoration: underline;
}

.weather-card {
    border: var(--border);
    border-radius: var(--radius);
    padding: 1em;
    background: var(--bg);
}

.info-panel {
    background: var(--bg);
    padding: 15px;
    color: white;
    width: 50dvw;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: blur(16px);
    border-right: var(--border);
}

.flex, .flex-v {
    display: flex;
}

.flex-v {
    flex-direction: column;
}

.spread {
    justify-content: space-between;
    width: 100%;
}

.spaced {
    gap: 10px;
}

.mono {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.article {
    padding: 10px;
    backdrop-filter: blur(10px);
    background: var(--bg);
    border-radius: var(--radius);
    border: var(--border);
}

p {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    background: var(--bg);
    padding: .2em .5em;
    border-radius: var(--radius);
    border: var(--border);
}

h2 {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.canvas-container {
    height: 100%;
    width: 100%;
}
